@font-face {
    font-family: 'Eras* Light';
    font-style: normal;
    font-weight: normal;
    src: local('Eras* Light'), url('fonts/eras-bq-cufonfonts-webfont/eras-light-5871822a2e706.woff') format('woff');
}
@font-face {
    font-family: 'Eras* Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Eras* Bold'), url('fonts/eras-bq-cufonfonts-webfont/eras-bold-5871825645ec8.woff') format('woff');
}
@font-face {
    font-family: 'Eras* Book';
    font-style: normal;
    font-weight: normal;
    src: local('Eras* Book'), url('fonts/eras-bq-cufonfonts-webfont/eras-book-587181c4d21d4.woff') format('woff');
}
@font-face {
    font-family: 'Eras* Demi';
    font-style: normal;
    font-weight: normal;
    src: local('Eras* Demi'), url('fonts/eras-bq-cufonfonts-webfont/eras-demi-587182767b329.woff') format('woff');
}
@font-face {
    font-family: 'Eras* Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Eras* Bold'), url('fonts/eras-bq-cufonfonts-webfont/eras-bold-5871820c913a2.woff') format('woff');
}
#principale
{
    background: linear-gradient(135deg, rgba(71,236,199,1) 0%, rgba(75,242,210,1) 50%, rgba(78,214,250,1) 100%);
    margin-top: 15px;
    height: 445px;
}
/*nav
{
    background-color: blue;
}
nav ul
{
    background-color: grey;
}*/
nav ul li
{
    display: inline-block;
    font-family: 'Eras* Book';
    font-size: 20px;
    margin-top: 5%;
    margin-left: 30px;
}
nav ul li a
{
    text-decoration: none;/*A demander au prof*/
	color: white;
}
nav ul li a:hover
{
    color: whitesmoke;
    font-family: 'Eras* Light';
}
nav ul #logo
{
	margin-left: 260px;
	font-family: 'Eras* Bold';
	color: white;
	font-size: 50px;
	font-weight: bold;
}
nav ul #inscription
{
	border: solid rgba(0,0,0,0) 2px;
	border-radius: 25px;
	padding: 7px;
	padding-left: 15px;
	padding-right: 17px;
	padding-bottom: 10px;
	text-align: center;
	margin-left: 300px;
	background-color: rgba(0,0,128,1);
}
nav ul #inscription:hover
{
	border: solid white 2px;
	background-color: rgba(16,231,220,0);
	color: white;
}
article
{
    text-align: justify;
    margin-top: 10%;
    margin-bottom: ;
    color: white;
}
article h1
{
    
    font-size: 50px;
    text-align: center;
    font-family: 'Eras* Bold';
    color: white;
}
article form
{
    border: 2px solid white;
    border-radius: 15px;
    padding: 7%;
    width: 70%;
    margin: auto;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.205);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,.205);
         box-shadow: 0px 0px 5px 0px rgba(0,0,0,.205);
    font-family: 'Eras* Book';
    background-color: rgba(16,231,220,0.9);
}
article form label
{
    color: white;
}
article form button
{
    background-color:  rgba(0,0,128,1);
}