@font-face {
    font-family: 'Eras* Light';
    font-style: normal;
    font-weight: normal;
    src: local('Eras* Light'), url('fonts/eras-bq-cufonfonts-webfont/eras-light-5871822a2e706.woff') format('woff');
}
@font-face {
    font-family: 'Eras* Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Eras* Bold'), url('fonts/eras-bq-cufonfonts-webfont/eras-bold-5871825645ec8.woff') format('woff');
}
@font-face {
    font-family: 'Eras* Book';
    font-style: normal;
    font-weight: normal;
    src: local('Eras* Book'), url('fonts/eras-bq-cufonfonts-webfont/eras-book-587181c4d21d4.woff') format('woff');
}
@font-face {
    font-family: 'Eras* Demi';
    font-style: normal;
    font-weight: normal;
    src: local('Eras* Demi'), url('fonts/eras-bq-cufonfonts-webfont/eras-demi-587182767b329.woff') format('woff');
}
@font-face {
    font-family: 'Eras* Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Eras* Bold'), url('fonts/eras-bq-cufonfonts-webfont/eras-bold-5871820c913a2.woff') format('woff');
}
#wallpaper
{
    background: url("images/students.jpg"); /*A demander au prof*/
    height: 700px;
    margin-top: 15px;
}
#principale
{
    background-color: rgba(16,231,220,0.9);
    height: 700px;
}
/*nav
{
    background-color: blue;
}
nav ul
{
    background-color: grey;
}*/
nav ul li
{
    display: inline-block;
    font-family: 'Eras* Book';
    font-size: 20px;
    margin-top: 5%;
    margin-left: 30px;
}
nav ul li a
{
    text-decoration: none;/*A demander au prof*/
	color: white;
}
nav ul li a:hover
{
    color: whitesmoke;
    font-family: 'Eras* Light';
}
nav ul #this
{
	color: whitesmoke;
}
nav ul #logo
{
	margin-left: 260px;
	font-family: 'Eras* Bold';
	color: white;
	font-size: 50px;
	font-weight: bold;
}
nav ul #inscription
{
	border: solid rgba(0,0,0,0) 2px;
	border-radius: 25px;
	padding: 7px;
	padding-left: 15px;
	padding-right: 17px;
	padding-bottom: 10px;
	text-align: center;
	margin-left: 290px;
	background-color: #F79E02;
	
}
nav ul #inscription:hover
{
	border: solid white 2px;
	background-color: rgba(16,231,220,0);
	color: white;
}
nav ul #connexion
{
	border: solid rgba(0,0,0,0) 2px;
	border-radius: 25px;
	padding: 7px;
	padding-left: 15px;
	padding-right: 17px;
	padding-bottom: 10px;
	text-align: center;
	margin-left: 10px;
	background-color: rgba(0,0,128,1);
}
nav ul #connexion:hover
{
	border: solid white 2px;
	background-color: rgba(16,231,220,0);
	color: white;
}
article
{
    text-align: justify;
    margin-top: 20%;
    margin-bottom: 30%;
    color: white;
}
article h1
{
    font-weight: bold;
    font-size: 50px;
    text-align: center;
    font-family: 'Eras* Bold';
    color: white;
}
article p
{
    color: white;
    font-family: 'Eras* Light';
    font-size: 25px;
    font-weight: bold;
}
aside
{
	/*border: solid black 1px;*/
	height: 650px;
	position: relative;
}
#middleUp
{
	/*border: solid black 1px;*/
	background-color: #0074E1;
	height: 600px;
	position: relative;
}
#middleUp #superviser
{
	width: 200px;
	height: 200px;
	border-radius: 50%;
	border: solid white 2px;
	position: absolute;
	margin-left: 178.5px;
}
#middleUp #coder1
{
	width: 200px;
	height: 200px;
	border-radius: 50%;
	border: solid white 2px;
	position: absolute;
	margin-left: 557px;
}
#middleUp #coder2
{
	width: 200px;
	height: 200px;
	border-radius: 50%;
	border: solid black 2px;
	margin-left: 935.5px;
}
#middleCenter
{
	/*border: solid black 1px;*/
	height: 650px;
	position: relative;
}
#middleDown
{
	/*border: solid black 1px;*/
	background: linear-gradient(135deg, rgba(71,236,199,1) 0%, rgba(75,242,210,1) 50%, rgba(78,214,250,1) 100%);
	height: 400px;
	position: relative;
	padding-top: 10px;
}
#middleDown h1
{
	/*border: solid black 1px;*/
	color: white;
	text-align: center;
	margin-top: 120px;
	margin-left: auto;
	font-family: 'Eras* Bold';
	font-size: 45px;
	font-weight: bold;
}
footer
{
	/*border: solid black 1px;*/
	background-color: rgba(108, 218, 238, 0.3);
	height: 450px;
	position: relative;
}
