body
{
	background-color: #FFFF;
}
#principale
{
	/*background-color: #10E7DC;*/
	background-color: rgba(16,231,220,0.9);
	height: 700px;
	width: 1314px;
	margin-right: 17px;
	margin-left: 10px;
	position: absolute;
}
#wallpaper
{
	background-image: url("images/GettyImages-882215368_applystudentcredit-e1533270863493-1600x900.jpg");
	height: 700px;
	margin: 10px;
	margin-top: 20px;
}
nav ul
{
	
}
nav ul li
{
	display: inline-block;
	color: white;
	margin-top: 50px;
	margin-left: 50px;
	font-size: 20px;
	font-family: Eras* Light;
	font-weight: light;
}
nav ul #logo
{
	margin-left: 300px;
}
nav ul #inscription
{
	border: solid white 2px;
	border-radius: 25px;
	padding: 7px;
	padding-left: 10px;
	padding-right: 12px;
	padding-bottom: 10px;
	text-align: center;
	margin-left: 200px;
	
}
nav ul #connexion
{
	border: solid white 2px;
	border-radius: 25px;
	padding: 7px;
	padding-left: 10px;
	padding-right: 12px;
	padding-bottom: 10px;
	text-align: center;
	margin-left: 10px;
	
}
@font-face {
    font-family: 'Eras* Light';
    font-style: normal;
    font-weight: normal;
    src: local('Eras* Light'), url('fonts/eras-bq-cufonfonts-webfont/eras-light-5871822a2e706.woff') format('woff');
}
@font-face {
    font-family: 'Eras* Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Eras* Bold'), url('eras-bold-5871825645ec8.woff') format('woff');
}
@font-face {
    font-family: 'Eras* Book';
    font-style: normal;
    font-weight: normal;
    src: local('Eras* Book'), url('eras-book-587181c4d21d4.woff') format('woff');
}
@font-face {
    font-family: 'Eras* Demi';
    font-style: normal;
    font-weight: normal;
    src: local('Eras* Demi'), url('eras-demi-587182767b329.woff') format('woff');
}
@font-face {
    font-family: 'Eras* Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Eras* Bold'), url('eras-bold-5871820c913a2.woff') format('woff');
}

article
{
	border: solid white 1px;
	height: 260px;
	width: 800px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 150px;
	text-align: justify;
	font-size: 25px;
}
article h1
{
	color: white;
	border: 1px solid black;
	width: 500px;
	margin-top: 0px;
	font-size: 50px;
	font-weight: bold;
	text-align: center;
	margin: auto;
}
article p
{
	color: white;
}