@font-face {
    font-family: 'Eras* Light';
    font-style: normal;
    font-weight: normal;
    src: local('Eras* Light'), url('fonts/eras-bq-cufonfonts-webfont/eras-light-5871822a2e706.woff') format('woff');
}
@font-face {
    font-family: 'Eras* Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Eras* Bold'), url('fonts/eras-bq-cufonfonts-webfont/eras-bold-5871825645ec8.woff') format('woff');
}
@font-face {
    font-family: 'Eras* Book';
    font-style: normal;
    font-weight: normal;
    src: local('Eras* Book'), url('fonts/eras-bq-cufonfonts-webfont/eras-book-587181c4d21d4.woff') format('woff');
}
@font-face {
    font-family: 'Eras* Demi';
    font-style: normal;
    font-weight: normal;
    src: local('Eras* Demi'), url('fonts/eras-bq-cufonfonts-webfont/eras-demi-587182767b329.woff') format('woff');
}
@font-face {
    font-family: 'Eras* Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Eras* Bold'), url('fonts/eras-bq-cufonfonts-webfont/eras-bold-5871820c913a2.woff') format('woff');
}
#principale
{
    background: linear-gradient(135deg, rgba(71,236,199,1) 0%, rgba(75,242,210,1) 50%, rgba(78,214,250,1) 100%);
    margin-top: 15px;
    margin-bottom: 25%;
}
#mobile-menu #inscription1
{
    display: none;
}
#main-menu #logo1
{
    margin-left: 10%;
    margin-right:25%;
}
#main-menu #connexion
{
    margin-right: 2%;
}
nav #inscription
{
    display: none;
}
article
{
    margin-left: auto;
    margin-right: auto;
    font-family: 'Eras* Book';
    margin-top: 5%;
    margin-bottom: -45%;
    color: green;
    text-align: center;
}
article h1
{
    font-size: 50px;
    text-align: center;
    font-family: 'Eras* Bold';
    color: white;
    margin-top: 5%;
}
article #form-control
{
    margin-left: auto;
    margin-right: auto;
    background-color: none;
}
article form
{
    border: 2px solid white;
    border-radius: 15px;
    padding: 7%;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.205);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,.205);
         box-shadow: 0px 0px 5px 0px rgba(0,0,0,.205);
    font-family: 'Eras* Book';
    text-align: left;
    color: white;
    background-color: rgba(16,231,220,0.9);
}
article form span
{
    color: green;
}
article form label
{
    color: white;
    text-align: left;
}
article form button
{
    background-color:  rgba(0,0,128,1);
}