@font-face {
    font-family: 'Eras* Light';
    font-style: normal;
    font-weight: normal;
    src: local('Eras* Light'), url('fonts/eras-bq-cufonfonts-webfont/eras-light-5871822a2e706.woff') format('woff');
}
@font-face {
    font-family: 'Eras* Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Eras* Bold'), url('fonts/eras-bq-cufonfonts-webfont/eras-bold-5871825645ec8.woff') format('woff');
}
@font-face {
    font-family: 'Eras* Book';
    font-style: normal;
    font-weight: normal;
    src: local('Eras* Book'), url('fonts/eras-bq-cufonfonts-webfont/eras-book-587181c4d21d4.woff') format('woff');
}
@font-face {
    font-family: 'Eras* Demi';
    font-style: normal;
    font-weight: normal;
    src: local('Eras* Demi'), url('fonts/eras-bq-cufonfonts-webfont/eras-demi-587182767b329.woff') format('woff');
}
@font-face {
    font-family: 'Eras* Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Eras* Bold'), url('fonts/eras-bq-cufonfonts-webfont/eras-bold-5871820c913a2.woff') format('woff');
}
#btn btn-primary btn-lg btn-block active
{
	margin-left: 500px;
}

#para_1{
	background color: rgba(255, 255, 128, 0.5);
	height:10000px;
}
nav ul li
{
    display: inline-block;
    font-family: 'Eras* Book';
    font-size: 20px;
    margin-top: 5%;
    margin-left: 30px;
}
nav ul li a
{
    text-decoration: none;
	color: white;
}
nav ul li a:hover
{
    color: whitesmoke;
    font-family: 'Eras* Light';
}
nav ul #logo
{
	margin-left: 260px;
	font-family: 'Eras* Bold';
	color: white;
	font-size: 50px;
	font-weight: bold;
}
#ajout
{
    margin-bottom: -17%;
}
#responsable
{
    margin-bottom: -2%;
}
article
{
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
    margin-top: 10%;
    color: white;
}
article h1
{
    
    font-size: 50px;
    text-align: center;
    font-family: 'Eras* Bold';
    color: white;
}
article form
{
    border: 1.5px solid white;
    border-radius: 15px;
    padding: 7%;
    width: 70%;
    margin: auto;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.205);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,.205);
         box-shadow: 0px 0px 5px 0px rgba(0,0,0,.205);
    font-family: 'Eras* Book';
    background-color: none;
}
article form .send
{
    margin-top: 5%;
    background-color: rgba(0,200,0,1);
    border: none;
    padding: 2%;
}
td
{
	font-size: 20px;
    text-align: center;
    font-family: 'Eras* Book';
    color: white;
}
table
{
	font-size: 20px;
    text-align: center;
    font-family: 'Eras* Book';
    color: white;
}
tr
{
	 font-size: 20px;
    text-align: center;
    font-family: 'Eras* Book';
    color: white;
}
#form-control
{
	 font-size: 20px;
    text-align: center;
    font-family: 'Eras* Book';
    color: white;
	text-align: center;
}
 /*{
    box-sizing: border-box;
  }
  
  Position the image container (needed to position the left and right arrows) */
  .container {
    position: relative;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
    margin: auto;
  }

  /* Add a pointer when hovering over the thumbnail images */
  .cursor {
    cursor: pointer;
  }
  
  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 3px 0  0 3px;
    user-select: none;
    -webkit-user-select: none;
  }
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius:0  3px 3px 0 ;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(247, 158, 2, 0.8);
}
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* Container for image text */
  .caption-container {
    width: 100%;
    text-align: center;
    background-color:rgba(247, 158, 2, 0.8);
    padding: 2px 16px;
    color: white;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Six columns side by side */
  .column {
    float: left;
    width: 16.66%;
  }
  
  /* Add a transparency effect for thumnbail images */
  .demo {
    opacity: 0.6;
  }
  
  .active,
  .demo:hover {
    opacity: 1;
  }

  #form_demarrage
  {
      font-family: 'Eras* Book';
  }
   /* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  } 
   /* Modal Header */
.modal-header {
    padding: 2px 16px;
    background-color: rgba(247, 158, 2, 0.9);
    color: white;
  }
  
  /* Modal Body */
  .modal-body {padding: 2px 16px;}
  
  /* Modal Footer */
  .modal-footer {
    padding: 2px 16px;
    background-color: rgba(247, 158, 2, 0.9);
    color: white;
  }
  
  /* Modal Content */
  .modal-content {
    position: relative;
    background-color: rgba(254, 254, 254, 0.9);
    margin: auto;
    padding: 0;
    margin: 15% auto; /* 15% from the top and centered */
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    animation-name: animatetop;
    animation-duration: 0.4s
  }
  
  /* Add Animation */
  @keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
  } 