@font-face {
    font-family: 'Eras* Light';
    font-style: normal;
    font-weight: normal;
    src: local('Eras* Light'), url('fonts/eras-bq-cufonfonts-webfont/eras-light-5871822a2e706.woff') format('woff');
}
@font-face {
    font-family: 'Eras* Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Eras* Bold'), url('fonts/eras-bq-cufonfonts-webfont/eras-bold-5871825645ec8.woff') format('woff');
}
@font-face {
    font-family: 'Eras* Book';
    font-style: normal;
    font-weight: normal;
    src: local('Eras* Book'), url('fonts/eras-bq-cufonfonts-webfont/eras-book-587181c4d21d4.woff') format('woff');
}
@font-face {
    font-family: 'Eras* Demi';
    font-style: normal;
    font-weight: normal;
    src: local('Eras* Demi'), url('fonts/eras-bq-cufonfonts-webfont/eras-demi-587182767b329.woff') format('woff');
}
@font-face {
    font-family: 'Eras* Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Eras* Bold'), url('fonts/eras-bq-cufonfonts-webfont/eras-bold-5871820c913a2.woff') format('woff');
}
#principale
{
    background: linear-gradient(rgba(16,231,220,0.9),rgba(16,231,220,0.9)),url("images/students.jpg");
	margin-bottom: 15px;
	margin-top: 15px;
}
/*nav
{
    background-color: blue;
}
nav ul
{
    background-color: grey;
}*/
/*nav ul li
{
    display: inline-block;
	margin-top: 5%;
	color: white;
    /*margin-left: 30px;
}*/
@media screen and (max-width: 1000px) {
	#main-menu{
	  display: none;
	}
  }
/*@media screen and (min-width: 750px) {
	#mobile-menu{
	  display: none;
	}
  }*/
  @media screen and (min-width: 1000px) {
	#mobile-menu{
	  display: none;
	}
  }
  @media screen and (max-width: 575px) {
	#mobile-menu #space1{
	  display: none;
	}
  }
  @media screen and (max-width: 575px) {
	#mobile-menu #space2{
	  display: none;
	}
  }
  @media screen and (max-width: 575px) {
	#mobile-menu #space3{
	  display: none;
	}
  }
  @media screen and (max-width: 575px) {
	#mobile-menu #space4{
	  display: none;
	}
  }
  /* The Overlay (background) */
.overlay {
	/* Height & width depends on how you want to reveal the overlay (see JS below) */    
	height: 100%;
	width: 0;
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	background-color: rgb(0,0,0); /* Black fallback color */
	background-color:rgba(247, 158, 2, 0.9); /*  w/opacity */
	overflow-x: hidden; /* Disable horizontal scroll */
	transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
  }
  
  /* Position the content inside the overlay */
  .overlay-content {
	position: relative;
	top: 25%; /* 25% from the top */
	width: 100%; /* 100% width */
	text-align: center; /* Centered text/links */
	margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
  }
  
  /* The navigation links inside the overlay */
  .overlay a {
	padding: 8px;
	text-decoration: none;
	font-size: 36px;
	color: #818181;
	display: block; /* Display block instead of inline */
	transition: 0.3s; /* Transition effects on hover (color) */
  }
  
  /* When you mouse over the navigation links, change their color */
  .overlay a:hover, .overlay a:focus {
	color: #f1f1f1;
  }
  
  /* Position the close button (top right corner) */
  .overlay .closebtn {
	position: absolute;
	top: 20px;
	right: 45px;
	font-size: 100px;
  }

#mobile-menu #inscription1
{
	display: none;
}
#mobile-menu a
{
	/*border: solid black 1px;*/
	text-align: center;
	margin-top: 30px;
	text-decoration: none;
	font-family: 'Eras* Book';
	font-size: 15px;
	font-weight: bold;
	color: white;
}
#mobile-menu .overlay-content a
{
	font-size: 20px;
}
#mobile-menu #nav_bar
{
	margin-right: 2%;
}
#mobile-menu a img
{
	width: 40px;
	height: 40px;
}
#mobile-menu #logo2
{
	font-family: 'Eras* Bold';
	color: white;
	text-align: center;
	font-size: 50px;
	font-weight: bold;
	margin-top: 10px;
}
#mobile-menu #connexion1
{
	height: 30%;
	border: solid rgba(0,0,0,0) 2px;
	margin-top: 30px;
	margin-left: 2%;
	margin-right: 2%;
	border-radius: 25px;
	color: white;
	text-align: center;
	background-color: rgba(0,0,128,1);
}
/*#pad-menu  a
{
	text-align: center;
	margin-top: 30px;
	margin-left: none;
	text-decoration: none;
	font-family: 'Eras* Book';
    font-size: 17px;
	color: white;
	height: 30%;
}
#pad-menu a:hover
{
    color: whitesmoke;
    font-family: 'Eras* Book';
}
#pad-menu #logo
{
	font-family: 'Eras* Bold';
	color: white;
	text-align: center;
	font-size: 50px;
	font-weight: bold;
	margin-top: -2px;
}
#pad-menu #inscription
{
	border: solid rgba(0,0,0,0) 2px;
	border-radius: 25px;
	margin-left: 2%;
	height: 30%;
	text-align: center;
	vertical-align: text-bottom;
	color: white;
	background-color: #f79e02;
}
#pad-menu #inscription:hover
{
	border: solid white 2px;
	background-color: rgba(16,231,220,0);
	color: white;
}
#pad-menu #connexion
{
	border: solid rgba(0,0,0,0) 2px;
	border-radius: 25px;
	margin-left: 2%;
	margin-right: 2%;
	height: 30%;
	color: white;
	text-align: center;
	background-color: rgba(0,0,128,1);
}
#pad-menu #connexion:hover
{
	border: solid white 2px;
	background-color: rgba(16,231,220,0);
	color: white;
}*/
#main-menu a
{
	text-align: center;
	margin-top: 5%;
	text-decoration: none;
	font-family: 'Eras* Book';
    font-size: 20px;
	color: white;
}
#main-menu a:hover
{
    color: whitesmoke;
    font-family: 'Eras* Book';
}
nav #this
{
	color: whitesmoke;
}
#main-menu #logo1
{
	font-family: 'Eras* Bold';
	color: white;
	text-align: center;
	font-size: 50px;
	margin-top: 2.6%;
	font-weight: bold;
	margin-right: 10%;
	margin-left: 10%;
}
#main-menu #inscription
{
	border: solid rgba(0,0,0,0) 2px;
	border-radius: 25px;
	margin-left: 2%;
	height: 30%;
	text-align: center;
	color: white;
	background-color: #F79E02;	
}
#main-menu #inscription:hover
{
	border: solid white 2px;
	background-color: rgba(16,231,220,0);
	color: white;
}
#main-menu #connexion
{
	border: solid rgba(0,0,0,0) 2px;
	border-radius: 25px;
	margin-left: 2%;
	margin-right: 2%;
	height: 30%;
	color: white;
	text-align: center;
	background-color: rgba(0,0,128,1);
}
#main-menu #connexion:hover
{
	border: solid white 2px;
	background-color: rgba(16,231,220,0);
	color: white;
}
article
{
    text-align: justify;
    margin-top: 20%;
    margin-bottom: 30%;
    color: white;
}
article h1
{
    font-weight: bold;
    font-size: 50px;
    text-align: center;
    font-family: 'Eras* Bold';
    color: white;
}
article p
{
    color: white;
    font-family: 'Eras* Light';
    font-size: 25px;
    font-weight: bold;
}
aside
{
	/*border: solid black 1px;*/
	color: rgba(0,0,0,0.7);
	padding-left: 5%;
	padding-right: 5%;
	position: relative;
}
aside h2
{
	font-family: 'Eras* Bold';
	font-size: 30px;
	font-weight: normal;
	text-align: center;
	margin-top: 10%;
}
aside p
{
	color: rgba(0,0,0,0.7);
	font-family: 'Eras* Book';
	font-size: 19px;
	text-align: justify;
	margin-top: 5%;
	margin-bottom: 5%;
}
aside .card-deck
{
	margin-bottom: 2%;
}
aside .card
{
	margin-right: 5%;
	margin-left: 5%;
	border: none;
	opacity: 0.5;
}
aside .card img
{
	width: 150px;
	height: 150px;
	margin-left: auto;
	margin-right: auto;
}
aside .card:hover
{
	opacity: 1;
	color: black;
}
aside .card-text
{
	color: rgba(0,0,0,0.7);
	font-family: 'Eras* Book';
	text-align: center;
	font-size: 19px;
}
#middleUp
{
	/*border: solid black 1px;*/
	background-color: #0074E1;
	padding-left: 3%;
	padding-right: 3%;
	position: relative;
}
#middleUp h2
{
	margin: auto;
	text-align: center;
	padding-top: 3%;
	padding-bottom: 3%;
	color: white;
	font-family: 'Eras* Bold';
}
#middleUp .card
{
	margin-right: 5%;
	margin-left: 5%;
	background-color: #0074E1;
	border: none;
	font-family: 'Eras* Book';
	color: white;
}
#middleUp .card img
{
	border-radius: 50%;
	height: 180px;
	width: 180px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5%;
}
#middleUp .card .card-title
{
	text-align: center;
}
#middleUp .card .card-text
{
	color: white;
	font-family: 'Eras* Book';
	text-align: justify;
}

#middleCenter
{
	/*border: solid black 1px;*/
	position: relative;
	padding-top: 5%;
	padding-bottom: 5%;
	margin-left: auto;
	margin-right: auto;
}
#partenaires
{
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 2%;
	padding-top: 2%;
}
#partenaires h2
{
	font-family: 'Eras* Bold';
	font-size: 15px;
	text-align: center;
	opacity: 0.5;
}
#middleCenter img
{
	width: 65px;
	height: 65px;
	margin-top: 30px;
	margin: 5%;
	opacity: 0.5;
}
#middleCenter img:hover
{
	opacity: 1;
}
#middleDown
{
	/*border: solid black 1px;*/
	background: linear-gradient(135deg, rgba(71,236,199,1) 0%, rgba(75,242,210,1) 50%, rgba(78,214,250,1) 100%);
	height: 400px;
	position: relative;
}
#middleDown h1
{
	/*border: solid black 1px;*/
	color: white;
	text-align: center;
	padding-top: 7%;
	margin-left: auto;
	margin-bottom: 3%;
	font-family: 'Eras* Bold';
	font-size: 45px;
	font-weight: bold;
}
#middleDown #link_partage
{

	border-radius: 25px;
	background-color:   #0074E1;
	text-decoration: none;
	color: white;
	font-family: 'Eras* Bold';
	font-size: 20px;
	text-align: center;
	padding: 10px;
	padding-left: 60px;
	padding-right: 60px;
}
#middleDown p
{
	color: rgba(255,255,255,0.9);
	font-family: 'Eras* Book';
	font-weight: bold;
	font-size: 20px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5%;
}
#middleDown p a
{
	color: white;
	font-weight: normal;
	font-family: 'Eras* Bold';
}
footer
{
	/*border: solid black 1px;*/
	background-color: rgba(108, 218, 238, 0.3);
	margin-top: none;
	position: relative;
}
footer .card
{
	margin: none;
	color: rgba(8, 8, 8, 0.7);
	font-family: 'Eras* Book';
	font-weight: normal;
	font-size: 18px;
	text-align: left;
	border-radius: none;
	border: none;
}
footer .card #footer1
{
	background-color: white;
	border-radius: none;
	border: none;
}
footer .card #footer2
{
	background-color: rgba(108, 218, 238, 0.3);
	border-radius: none;
	border: none;
}
footer .card #footer2 .card-text
{
	padding-left: 3%;
	padding-bottom: 5%;
	border-bottom: 2px solid rgba(71,236,199,1);
}
/*Page Responsable*/
article nav a
{
	text-decoration: none;
	border: solid white 1.5px;
	padding: 2%;
	padding-top: 10%;
	color: white;
	font-weight: bold;
	font-size: 20px;
	font-family: 'Eras* Book';
	margin-left: 5%;
	margin-right: 5%;
	margin-bottom: 10%;
	-webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.205);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,.205);
         box-shadow: 0px 0px 5px 0px rgba(0,0,0,.205);
}
article nav a:hover
{
	text-decoration: none;
	border: inset white 2px;
	color:rgba(0,200,0,0.5);
	-webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.205);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,.205);
         box-shadow: 0px 0px 5px 0px rgba(0,0,0,.205);
}
article nav a img
{
	width: 40px;
	height: 40px;
}
/*article nav a img:hover
{
	width: 50px;
	height: 50px;
}*/
